<!DOCTYPE html>
<html>
  <head>
    <title><%= message %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <p>Welcome to <%= message %></p>
    <ul>
      <% for(var i=0; i<10; i++) {%>
       <li>
         <%=message%>
       </li>
      <% } %>
    </ul>
    
  </body>
</html>
